
@{
    ViewData["Title"] = "Contact";
}


<div class="visitCard">
	<h3>Contacts:</h3>
	<p>Phisical address: Ukraine, Zakarpattya region. Mukachevo city. 
	   Main street 77.

	</p>
	<p>Mail: igorshkredovTraining@mail.com</p>
	<p>Phone: +3(8099) 777 77 77 </p>
</div>

